$def with(imagelist)
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
        .imagediv
        {
            width: 200px;
            height: 200px;
            border: solid 1px;
        }
    </style>
</head>
<body>
<form method="POST" enctype="multipart/form-data" action="">
    <input type="file" name="myfile" />
    <br/>
    <input type="submit" />
</form>
$for i in imagelist:
    <div ><img class="imagediv" src="http://chinapython-pythondb.stor.sinaapp.com/$i['name']"/></div>
</body>
</html>